/* RESET */
*,*::before, *::after {
  margin: 0; 
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  box-sizing: border-box;    
}  

body {
  font-size: 1.4rem;
  font-family: sans-serif;  
}



/* Navbar CSS */
.nav-desktop {
  flex: 1;
  align-self: flex-start;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: #eeeeee 1px solid;
}

.nav-desktop .logo-text {
  border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
}
.nav-desktop ul {
  display: flex;
  list-style: none;
}


/* Mobils Navigation */
.nav-mobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;

  flex: 1;
  align-self: flex-start;
  padding: 1rem 3rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;

  
}
.nav-mobile .logo-text {
  border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    display: none;
}
.nav-mobile ul {
  flex: 1;
  padding: 0 2rem;
  justify-content: space-around;
  display: flex;
  list-style: none;
}


.nav-desktop ul li, .nav-mobile ul li {
  padding: 0 1rem;
    cursor: pointer;
}
.nav-desktop ul li a, .nav-mobile ul li a {
  text-decoration: none;
}
